@using EventPlanningAndManagementSystem.ViewModels.AdminRequests;
@model IEnumerable<PendingRegistrationViewModel>

<h2>Pending Registrations</h2>
<table class="table">
	<thead>
		<tr>
			<th>Event</th>
			<th>User</th>
			<th>Registered On</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var reg in Model)
		{
			<tr>
				<td>@reg.EventName</td>
				<td>@reg.UserEmail</td>
				<td>@reg.RegisteredOn.ToString("dd-MM-yyyy")</td>
				<td>
					<form asp-action="ConfirmRegistration" asp-controller="Admin" method="post" class="d-inline">
						<input type="hidden" name="id" value="@reg.RegistrationId" />
						<button class="btn btn-success btn-sm">Confirm</button>
					</form>

					@*  <form asp-action="DenyRegistration" asp-controller="Admin" method="post" class="d-inline ms-2">
                        <input type="hidden" name="id" value="@reg.RegistrationId" />
                        <button class="btn btn-danger btn-sm">Deny</button>
                    </form> *@
					<form asp-action="DenyRegistration" method="post">
						@Html.AntiForgeryToken()
						<input type="hidden" name="id" value="@reg.RegistrationId" />
						<button type="submit" class="btn btn-danger btn-sm">Deny</button>
					</form>
				</td>

			</tr>
		}
	</tbody>
</table>
